/* ===================================== 
   Grid Layout
======================================== */

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 350px 100px;
    grid-gap: 10px;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
}